{
    "compilation_database": [
        "tis/build/json-c/compile_commands.json",
        "tis/build/build/compile_commands.json"
    ],
    "cpp-extra-args": [
        "-DTIS_DETERMINISTIC_LIBC",
        "-Itis/root/include/",
        "-Isrc/libafb",
        "-Itis/build/build/src/libafb",
        "-Itis/build/build/src",
        "-DAFB_TYPE_NO_LOCK",
        "-Dvolatile=",
        "-D_Thread_local=",
        "-DTFD_TIMER_ABSTIME=42",
        "-DEPOLL_CLOEXEC=42",
        // "-DTEST_SOURCE_DIR=\\\"../../../src/tests/\\\"",
        "-DAFB_NO_RTLD_DEEPBIND=1",
        "-DRTLD_DEEPBIND=0", // USED IN x-dynlib.c
        "-DTEST_SOURCE_DIR=\\\"src/tests/\\\"",
        "-DVALGRIND" // see json-c comment in hashlittle function
    ],
    "safe-arrays": false,
    "address-alignment": 4, // needed for hashlittle json-c function
    "val-int-for-pointer-equality": [
        "-1",
        "-2"
    ], // LH_EMPTY and LH_FREED
    "val-warn-harmless-function-pointers": false,
    "context-uninitialized-extern": true,
    "val-warn-copy-indeterminate": "@all",
    "val-printf-accept-equisized-integral-types": true,
    "val-warn-va-arg-type-mismatch": false,
    "val-printf-singleton-pointers": true,
    "files": [
        "tis/tis_check_lib.c", // stubs for libcheck
        "src/libafb/core/afb-api-common.c",
        "src/libafb/core/afb-api-v3.c",
        "src/libafb/core/afb-apiname.c",
        "src/libafb/core/afb-apiset.c",
        "src/libafb/apis/afb-api-so.c",
        "src/libafb/core/afb-auth.c",
        "src/libafb/core/afb-calls.c",
        "src/libafb/core/afb-data.c",
        "src/libafb/core/afb-evt.c",
        "src/libafb/core/afb-hook.c",
        "src/libafb/core/afb-jobs.c",
        "src/libafb/core/afb-session.c",
        "src/libafb/core/afb-sig-monitor.c",
        "src/libafb/core/afb-token.c",
        "src/libafb/core/afb-type.c",
        "src/libafb/core/afb-req-common.c",
        "src/libafb/core/afb-error-text.c",
        "src/libafb/core/afb-json-legacy.c",
        "src/libafb/core/afb-sched.c",
        "src/libafb/utils/uuid.c",
        "src/libafb/utils/globmatch.c",
        "src/libafb/utils/pearson.c",
        "src/libafb/utils/expand-json.c",
        "src/libafb/utils/expand-vars.c",
        "src/libafb/utils/globset.c",
        "src/libafb/utils/path-search.c",
        "src/libafb/utils/json-locator.c",
        // "src/libafb/utils/u16id.c", // PROBLEMS - very strange syntax error
        "src/libafb/sys/verbose.c",
        "src/libafb/sys/x-uio.c",
        "src/libafb/sys/x-dynlib.c",
        "src/libafb/sys/ev-mgr.c",
        "json-c/json_object.c",
        "json-c/json_tokener.c",
        "json-c/printbuf.c",
        "src/libafb/utils/wrap-json.c",
        "json-c/linkhash.c",
        // "json-c/random_seed.c" : stub for json_c_get_random_seed in tis_subs.c
        "json-c/json_object_iterator.c",
        "json-c/json_util.c",
        "json-c/arraylist.c",
        "tis/tis_stubs.c"
    ],
    "filesystem": {
        "system_errors": false,
        "files": [
            {
                "name": "src/tests/test-json-locator.json",
                "from": "src/tests/test-json-locator.json"
            }
        ]
    }
}