[
    {
        "name": "test-afb-auth.c",
        "include": "common.config",
        "files": [
            "src/tests/test-afb-auth.c"
        ]
    },
    {
        "name": "test-afb-calls.c",
        "include": "common.config",
        "files": [
            "src/tests/test-afb-calls.c",
            "src/libafb/sys/x-dynlib.c" // Cannot resolve identifier 'RTLD_DEEPBIND'
        ]
    },
    {
        "name": "test-afb-data.c",
        "include": "common.config",
        "files": [
            "src/tests/test-afb-data.c"
        ]
    },
    {
        "name": "test-afb-evt.c",
        "include": "common.config",
        "files": [
            "src/tests/test-afb-evt.c"
        ]
    },
    {
        "name": "test-afb-jobs.c",
        "include": "common.config",
        "files": [
            "src/tests/test-afb-jobs.c"
        ]
    },
    {
        "name": "test-afb-perm.c",
        "include": "common.config",
        "files": [
            "src/tests/test-afb-perm.c"
        ]
    },
    {
        "name": "test-afb-type.c",
        "include": "common.config",
        "files": [
            "src/tests/test-afb-type.c"
        ]
    },
    {
        "name": "test-api-common.c",
        "include": "common.config",
        "files": [
            "src/tests/test-api-common.c"
        ]
    },
    {
        "name": "test-api-so-v4.c",
        "include": "common.config",
        "files": [
            "src/tests/test-api-so-v4.c",
            "src/libafb/sys/x-dynlib.c" // Cannot resolve identifier 'RTLD_DEEPBIND'
        ]
    },
    {
        "name": "test-api-v3.c",
        "include": "common.config",
        "files": [
            "src/tests/test-api-v3.c"
        ]
    },
    {
        "name": "test-apiset.c",
        "include": "common.config",
        "files": [
            "src/tests/test-apiset.c"
        ]
    },
    {
        "name": "test-ev-mgr.c",
        "include": "common.config",
        "files": [
            "src/tests/test-ev-mgr.c"
        ]
    },
    {
        "name": "test-expand-json.c",
        "include": "common.config",
        "files": [
            "src/tests/test-expand-json.c"
        ]
    },
    {
        "name": "test-expand-vars.c",
        "include": "common.config",
        "files": [
            "src/tests/test-expand-vars.c"
        ]
    },
    {
        "name": "test-globset.c",
        "include": "common.config",
        "files": [
            "src/tests/test-globset.c"
        ]
    },
    {
        "name": "test-json-locator.c",
        "include": "common.config",
        "files": [
            "src/tests/test-json-locator.c",
            "src/libafb/utils/json-locator.c" // Cannot resolve identifier '__malloc_hook'
        ]
    },
    {
        "name": "test-path-search.c",
        "include": "common.config",
        "files": [
            "src/tests/test-path-search.c"
        ]
    },
    {
        "name": "test-req-common.c",
        "include": "common.config",
        "files": [
            "src/tests/test-req-common.c"
        ]
    },
    {
        "name": "test-req-v3.c",
        "include": "common.config",
        "files": [
            "src/tests/test-req-v3.c"
        ]
    },
    {
        "name": "test-sched.c",
        "include": "common.config",
        "files": [
            "src/tests/test-sched.c"
        ]
    },
    {
        "name": "test-session.c",
        "include": "common.config",
        "files": [
            "src/tests/test-session.c"
        ]
    },
    {
        "name": "test-sig-monitor.c",
        "include": "common.config",
        "files": [
            "src/tests/test-sig-monitor.c"
        ]
    },
    {
        "name": "test-token.c",
        "include": "common.config",
        "files": [
            "src/tests/test-token.c"
        ]
    },
    {
        "name": "test-u16id.c",
        "include": "common.config",
        "files": [
            "src/tests/test-u16id.c",
            "src/libafb/utils/u16id.c" // PROBLEMS - very strange syntax error
        ]
    },
    {
        "name": "test-wrap-json.c",
        "include": "common.config",
        "files": [
            "src/tests/test-wrap-json.c"
        ]
    },
    {
        "name": "test-wsapi.c",
        "include": "common.config",
        "files": [
            "src/tests/test-wsapi.c"
        ]
    }
]