{
  "compilation_database": [
    "tis/build/json-c/compile_commands.json",
    "tis/build/build/compile_commands.json"
  ],
  "cpp-extra-args": "-Itis/root/include/ -Isrc/libafb",
  "cpp-extra-args": "-Dvolatile=",
  "cpp-extra-args": "-DVALGRIND", // see json-c comment in hashlittle function
  "safe-arrays": false,
  "address-alignment": 4, // needed for hashlittle json-c function
  "val-int-for-pointer-equality": [ "-1", "-2" ], // LH_EMPTY and LH_FREED
  "files": [
    "src/tests/test-afb-auth.c",

    "tis/tis_check_lib.c", // stubs for libcheck

    "src/libafb/core/afb-auth.c",
    "json-c/json_object.c",
    "json-c/json_tokener.c",
    "json-c/printbuf.c",
    "src/libafb/utils/wrap-json.c",
    "json-c/linkhash.c",
    // "json-c/random_seed.c" :stub for json_c_get_random_seed in tis_subs.c
    "json-c/json_object_iterator.c",
    "json-c/json_util.c",
    "json-c/arraylist.c",

    "tis/tis_stubs.c"
  ]
}
