{
  "prefix_path": "..",
  "compilation_database": [
    "json-c/build/compile_commands.json",
    // "check/build/compile_commands.json",
    "build/compile_commands.json"
  ],
  "cpp-extra-args": "-Ilocal/include/",
  "cpp-extra-args": "-Dvolatile=",
  "cpp-extra-args": "-DVALGRIND", // see json-c comment in hashlittle function
  // "custom-annot-char": "$",
  // "remove-volatile-locals": [ "lh_char_hash" ], does not work ???
  "safe-arrays": false,
  "address-alignment": 4, // needed for hashlittle json-c function
  "val-int-for-pointer-equality": [ "-1", "-2" ], // LH_EMPTY and LH_FREED
  "files": [
    "src/tests/test-afb-auth.c",

    /* to use the real libcheck source code (not fully working yet)
    "check/src/check.c",
    "check/src/check_error.c",
    "check/src/check_list.c",
    "check/src/check_run.c",
    "check/src/check_log.c",
    "check/src/check_msg.c",
    "check/lib/clock_gettime.c",
    "check/src/check_pack.c",
    "check/src/check_str.c",
    */
    "tis/tis_check_lib.c", // stubs for libcheck

    "src/libafb/core/afb-auth.c",
    "json-c/json_object.c",
    "json-c/json_tokener.c",
    "json-c/printbuf.c",
    "src/libafb/utils/wrap-json.c",
    "json-c/linkhash.c",
    // "json-c/random_seed.c" :stub for json_c_get_random_seed in tis_subs.c
    "json-c/json_object_iterator.c",
    "json-c/json_util.c",
    "json-c/arraylist.c",
    "tis/tis_stubs.c"
  ]
}
